<%- include partials/header.ejs %>
    <!-- Page Content -->
<header id="myCarousel" class="carousel slide">
    
        <div class="row">
            
    <div class="col-md-12">
        <img src="https://placeholdit.imgix.net/~text?txtsize=75&txt=1300%C3%97300&w=1300&h=300" />
    </div>    
</div> 
    </header>
<div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About
                    <small>The Brampton Fall Fair</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
            </div>
            <div class="col-md-6">
                <h2>When It All Started</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?</p>
                
                <p>4-H emphasizes the importance of looking at the big picture; encouraging youth to see beyond themselves and focus on how their actions affect their relationships, their community, the environment and society as a whole. </p>
            </div>
        </div>
        <!-- /.row -->
        <br />
        <!-- About 4H -->
        <div class="row">
            <div class="col-md-6">
                <h2>About 4H Ontario</h2>
                <p>Everywhere in the world, 4-H is based on a “Learn To Do By Doing” philosophy. At its core, 4-H is a grassroots organization of leaders building leaders.</p>
                
<p>The four H’s stand for head, heart, hands and health. In Ontario, 4-H members aged 9–21 come together with volunteer leaders to create a 4-H club, where members learn about a selected topic through hands-on activities and mentorship. In the Cloverbud Program, youth aged 6–8 work with volunteer leaders on a variety of unit
giving them a 4-H experience over the course of a year.</p>
            </div>
             <div class="col-md-6">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
            </div>
        </div>
<!--    past presiants    -->
      <div class="row">
            <div class="col-lg-12">
                <h2 class="">Past Presidents</h2>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <div class="caption">
                        <h3>Saundra Morrison<br>
                            <small>2012-13</small>
                        </h3>
                        <p>Lo-em ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <div class="caption">
                        <h3>Craig Neely<br>
                            <small>2010-11</small>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <div class="caption">
                        <h3>Jim Wilson<br>
                            <small>2008-09</small>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
<!--     general info row     -->
           <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">General Information</h2>
            </div>
                <div class="col-md-2 col-sm-4 col-xs-6 text-center">
                <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt=""><br/>
                    <div class="caption">
                <p><strong>2016 Theme</strong></p>
                    <p>Apple Blossoms and Honeybees</p>
            </div>
        </div>
               
               <div class="col-md-2 col-sm-4 col-xs-6 text-center">
                <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt=""><br/>
                    <div class="caption">
                <p><strong>Contact Us</strong></p>
                    <p>Feel Free to message us for more information</p>
            </div>
        </div>
               <div class="col-md-2 col-sm-4 col-xs-6 text-center">
                <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt=""><br/>
                    <div class="caption">
                <p><strong>Homecraft Judging Information</strong></p>
                    <p>2016 Judging information</p>
            </div>
        </div>
               <div class="col-md-2 col-sm-4 col-xs-6 text-center">
                <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt=""><br/>
                    <div class="caption">
                <p><strong>Award Winners</strong></p>
                    <p>past award winners of Pearl Lawrence Trophy for Youth and others.</p>
            </div>
        </div>
               <div class="col-md-2 col-sm-4 col-xs-6 text-center">
                <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt=""><br/>
                    <div class="caption">
                <p><strong>Rental Information</strong></p>
                    <p>Rent the grounds for your special event!</p>
            </div>
        </div>
               <div class="col-md-2 col-sm-4 col-xs-6 text-center">
                <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt=""><br/>
                    <div class="caption">
                <p><strong>Booths</strong></p>
                    <p>Rent a booth for your business throughout the fair weekend!</p>
            </div>
        </div>

                    </div>
                </div>

        <!-- Footer -->
         <footer>
            <div class="row">
                <div class="col-md-4">
                     <img class="img-responsive customer-img" src="http://placehold.it/100x50" alt="">
                </div>
                <div class="col-md-4">
                    <img class="img-responsive customer-img" src="http://placehold.it/100x50" alt="">
                    <p>social feed?</p> 
                </div>
                <div class="col-md-4">
                    <h2>Conact Us!</h2>
                    <p><a href="https://www.google.com/maps/place/12942+Heart+Lake+Rd,+Caledon,+ON+L7C+2K5,+Canada/@43.7701977,-79.8317801,17z/data=!3m1!4b1!4m2!3m1!1s0x882b173352a21907:0xb107a5365ec8a28b">12942 Heart Lake Rd, Caledon, ON L7C 2K5, Canada
</a></p>
                    <p>Tel:<a></a></p>
                    <p>Email:<a></a></p>
                </div>
                
            </div>
         <div class="row text-center"><p>Copyright &copy; The Brampton Fall Fair</p></div>
        </footer>

</body>
</html>   