<%- include partials/header.ejs %>
<header id="myCarousel" class="carousel slide">
    
        <div class="row">
            
    <div class="col-md-12">
        <img src="https://placeholdit.imgix.net/~text?txtsize=75&txt=1300%C3%97300&w=1300&h=300" />
    </div>    
</div> 
    </header>

    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Contact
                    <small>The Brampton Fall Fair</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Map Column -->
            <div class="col-md-8">
                <!-- Embedded Google Map -->
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2881.1281963016045!2d-79.8317800850429!3d43.77019765287615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b173352a21907%3A0xb107a5365ec8a28b!2s12942+Heart+Lake+Rd%2C+Caledon%2C+ON+L7C+2K5%2C+Canada!5e0!3m2!1sen!2sus!4v1457914859202" width="100%" height="400px"  frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
            <!-- Contact Details Column -->
            <div class="col-md-4">
                <h3>Contact Information</h3>
                <p>Heartlake Road<br>Caledon, Ontario L7C l1l <br>
                </p>
                <p>Phone:<a href="tel:#"> (123) 456-7890</a></p>
                <p>Email: <a href="mailto:name@example.com">name@example.com</a>
                </p>
                <p>Office Hours: Monday - Friday: 9:00 AM to 5:00 PM</p>
                <ul class="list-unstyled list-inline list-social-icons">
                    <li>
                        <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
        <div class="row text-center">
        <h2>What does the fair grounds do the remainder of the year? </h2>
        </div>
        <div class="row text-center">
<!--      rental information      -->
        </div>
        <!-- Contact Form -->
        <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
<!--    add check boxes for information about booths, entering, general and renting the grounds    -->
        <div class="row text-center">
            <div class="col-md-8">
                <h3>Get a Quote</h3>
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Full Name:</label>
                            <input type="text" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Phone Number:</label>
                            <input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Email Address:</label>
                            <input type="email" class="form-control" id="email" required data-validation-required-message="Please enter your email address.">
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Message:</label>
                            <textarea rows="10" cols="100" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
                        </div>
                    </div>
                    <div id="success"></div>
                    <!-- For success/fail messages -->
                    <button type="submit" class="btn btn-primary">Send Message</button>
                </form>
            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
       <footer>
            <div class="row">
                <div class="col-md-4">
                     <img class="img-responsive customer-img" src="http://placehold.it/100x50" alt="">
                </div>
                <div class="col-md-4">
                    <img class="img-responsive customer-img" src="http://placehold.it/100x50" alt="">
                    <p>social feed?</p> 
                </div>
                <div class="col-md-4">
                    <h2>Conact Us!</h2>
                    <p><a href="https://www.google.com/maps/place/12942+Heart+Lake+Rd,+Caledon,+ON+L7C+2K5,+Canada/@43.7701977,-79.8317801,17z/data=!3m1!4b1!4m2!3m1!1s0x882b173352a21907:0xb107a5365ec8a28b">12942 Heart Lake Rd, Caledon, ON L7C 2K5, Canada
</a></p>
                    <p>Tel:<a></a></p>
                    <p>Email:<a></a></p>
                </div>
                
            </div>
         <div class="row text-center"><p>Copyright &copy; The Brampton Fall Fair</p></div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Contact Form JavaScript -->
    <!-- Do not edit these files! In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

</body>

</html>

</body>
</html>