<%- include partials/header.ejs %>

<header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide One');"></div>
                <div class="carousel-caption">
                    <h2>Caption 1</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');"></div>
                <div class="carousel-caption">
                    <h2>Caption 2</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
                <div class="carousel-caption">
                    <h2>Caption 3</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>
 <div class="container">
<div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Welcome to The Brampton Fall Fair
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h4>Visit the Fair</h4>
                    </div>
                    <div class="panel-body text-center">
                        <p>Come join us at the fair! rides, livestock shows, demonstrations, demolition derby and so much more! </p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h4>Enter the Fair</h4>
                    </div>
                    <div class="panel-body text-center">
                        <p>Enter your animals, baked goods, handmade crafts, flowers and crops.</p>
                        <br />
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h4>Volenteer with Us</h4>
                    </div>
                    <div class="panel-body text-center">
                        <p>We are always looking for new volenteers to help us, each and every year. Highschool student? This is the perfect opertunity.</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
     <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
            </div>
            <div class="col-md-6">
                <h2>View 2016 Prize List</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!</p>
                <a href="#" class="btn btn-default">Learn More</a>
            </div>
        </div>
     <br />
     <div class="row">
         <div class="col-md-6">
         <h2>Need Transportation?</h2>
             <p>We got you covered!</p>
             <p><a href="#">Brampton Transit</a></p>
             <p><a href="#">Cab Service</a></p>
             <p><a href="#">Directions</a></p>
             <p><a href="#">Call us!</a></p>
         </div>
            <!-- Map Column -->
            <div class="col-md-6">
                <!-- Embedded Google Map -->
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2881.1281963016045!2d-79.8317800850429!3d43.77019765287615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b173352a21907%3A0xb107a5365ec8a28b!2s12942+Heart+Lake+Rd%2C+Caledon%2C+ON+L7C+2K5%2C+Canada!5e0!3m2!1sen!2sus!4v1457914859202" width="100%" height="400px"  frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
     </div>
     
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#">Contact Us</a>
                </div>
            </div>
        </div>
     <br />
     <footer>
            <div class="row">
                <div class="col-md-4">
                     <img class="img-responsive customer-img" src="http://placehold.it/100x50" alt="">
                </div>
                <div class="col-md-4">
                    <img class="img-responsive customer-img" src="http://placehold.it/100x50" alt="">
                    <p>social feed?</p> 
                </div>
                <div class="col-md-4">
                    <h2>Conact Us!</h2>
                    <p><a href="https://www.google.com/maps/place/12942+Heart+Lake+Rd,+Caledon,+ON+L7C+2K5,+Canada/@43.7701977,-79.8317801,17z/data=!3m1!4b1!4m2!3m1!1s0x882b173352a21907:0xb107a5365ec8a28b">12942 Heart Lake Rd, Caledon, ON L7C 2K5, Canada
</a></p>
                    <p>Tel:<a></a></p>
                    <p>Email:<a></a></p>
                </div>
                
            </div>
         <div class="row text-center"><p>Copyright &copy; The Brampton Fall Fair</p></div>
        </footer>

<!--End of container-->
</div>

 <!-- jQuery -->
    <script src="javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.min.js"></script>
 <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    });
    </script>
  </body>
</html>