<%- include partials/header.ejs %>
<header id="myCarousel" class="carousel slide">
    
        <div class="row">
            
    <div class="col-md-12">
        <img src="https://placeholdit.imgix.net/~text?txtsize=75&txt=1300%C3%97300&w=1300&h=300" />
    </div>    
</div> 
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Visit
                    <small>The Brampton Fall Fair</small>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Enter the Fair</h2>
                <p><strong>Find out how you can enter your articals!</strong></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.</p>
              
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
            </div>
        </div>
        <div class="row text-center">
            <h2>Booth Rental Information</h2>
        </div>
            <div class="row">
            <div class="col-md-6">
                <p>Need help with rental information?</p>
                <p><strong>Contact Name</strong></p>
                <p>Tel: <a href="#"></a>000</p>
                <p>Email: <a href="#"></a>email@email.com</p>
                <a class"btn btn-default" href="/contact-us">Contact Us</a>
            </div>
            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique.</p>
                <a class="btn btn-default" href="#">Outdoor Booths</a>
                <a class="btn btn-default" href="#">Indoor Booths</a>
            </div>
        </div>
        <div class="row text-center">
            <h2>Live Stock Show</h2>
        </div>
        <div class="row">
           <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h4>Cattle Show</h4>
                    </div>
                    <div class="panel-body text-center">
                        <p>Enter beef, dairy and 4H shows!</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h4>Horse Shows</h4>
                    </div>
                    <div class="panel-body text-center">
                        <p>Light horse, heavy horse and speed show!</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h4>Poultry</h4>
                    </div>
                    <div class="panel-body text-center">
                        <p>Enter birds!</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
         <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <h3>Interested in volunteering at the fair? </h3>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#">Contact Us</a>
                </div>
            </div>
        </div>
     <br />
     <footer>
            <div class="row">
                <div class="col-md-4">
                     <img class="img-responsive customer-img" src="http://placehold.it/100x50" alt="">
                </div>
                <div class="col-md-4">
                    <img class="img-responsive customer-img" src="http://placehold.it/100x50" alt="">
                    <p>social feed?</p> 
                </div>
                <div class="col-md-4">
                    <h2>Conact Us!</h2>
                    <p><a href="https://www.google.com/maps/place/12942+Heart+Lake+Rd,+Caledon,+ON+L7C+2K5,+Canada/@43.7701977,-79.8317801,17z/data=!3m1!4b1!4m2!3m1!1s0x882b173352a21907:0xb107a5365ec8a28b">12942 Heart Lake Rd, Caledon, ON L7C 2K5, Canada
</a></p>
                    <p>Tel:<a></a></p>
                    <p>Email:<a></a></p>
                </div>
                
            </div>
         <div class="row text-center"><p>Copyright &copy; The Brampton Fall Fair</p></div>
        </footer>

</div>
</body>
</html>